src/structinator/data/basic_struct_example_1.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- W3C Schema generated by XMLSpy v2023 rel. 2 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!--
        ╔═════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════╗
        ║                                                                                                                         ║
        ║                                               Configuration Collection/Elements                                         ║
        ║                                                                                                                         ║
        ╚═════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════╝
    -->

    <!-- Configuration element comtaining the name to use when generating the header output -->
	<xs:element name="header_file_name">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>

	<!-- Configuration element containing the name of the header template to use -->
	<xs:element name="template_file_name">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>

    <!-- Collection of configuration items -->
	<xs:element name="config">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="header_file_name"/>
				<xs:element ref="template_file_name"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	
	<!--
        ╔═════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════╗
        ║                                                                                                                         ║
        ║                                                 Structure Collection/Elements                                           ║
        ║                                                                                                                         ║
        ╚═════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════╝
    -->

    <!-- Element containing the details of a struct member -->
	<xs:element name="member">
		<xs:complexType>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

    <!-- Element containing the details of a struct along with a collection of members -->
	<xs:element name="struct">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="members"/>
			</xs:sequence>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

	<!-- Collection of C++ struct members -->
	<xs:element name="members">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="member" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
		
	<!-- Collection of C++ structs -->
	<xs:element name="structs">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="struct" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	
	<!--
        ╔═════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════╗
        ║                                                                                                                         ║
        ║                                                    Structure Source Data                                                ║
        ║                                                                                                                         ║
        ╚═════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════╝
    -->	

	<!-- Document definition -->
	<xs:element name="structinator">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="config"/>
				<xs:element ref="structs"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>
